@import 'normalize'
@import 'var'

@font-face 
    font-family: 'Orbitron'
    src: url('../fonts/10423.ttf')

*
	box-sizing: border-box

.btn
	display: inline-block
	background: transparent
	color: #000
	font-weight: 700
	text-decoration: none
	user-select: none
	padding: 1vh 2vw
	outline: none
	border: 2px solid #000
	border-radius: 1px
	transition: 0.2s
	text-transform: uppercase
	&:hover  
		background: rgba(255,255,255,.2)
	&:active 
		background: white
		
.ico
	width: 35px
	height: 35px
	background: #fff
	border-radius: 50%
	margin: 0
	padding: 0
	display: flex
	justify-content: center
	align-items: center
	.fa-twitter,
	.fa-facebook-f,
	.fa-instagram,
	.fa-github,
	.fa-linkedin-in
		transition: all .7 ease
		font-size: 1rem
	&:hover
		background: rgba(111, 55, 125, 0.8)
		.fa-twitter,
		.fa-facebook-f,
		.fa-instagram,
		.fa-github,
		.fa-linkedin-in
			color: #fff

html,
body
	background: url(../img/page.png) repeat center 
	height: 100%
	.sait
		display: flex
		flex-direction:	column
		border: 1px solid #000
		width: 100%
		height: 100%
		max-width: 1366px
		min-width: 320px
		margin: 0 auto  		
		.header
			border: 1px solid #000
			height: 20vh
			background: url(../img/header.jpg) no-repeat center /cover
			.top-line
				padding: $pad
				display: flex
				justify-content: space-between
				border: 1px dotted #000
				.logo
					padding: 0
					img
						width: 80%
				.user
					padding: 0
		.main
			flex: 1 0 auto
			border: 1px solid #000
			display: flex
			justify-content: space-between
			flex-wrap: wrap					
			.game
				margin: $pad
				padding: $pad
				width: 20vw
				height: 30vh
				position: relative
				perspective: 1000px
				.front, .back 
					position: absolute
					width: 100%
					height: 100%
					left: 0
					top: 0
					display: flex
					flex-direction: column
					justify-content: center
					align-items: center
					transition: 1s
					backface-visibility: hidden
					border-radius: 10px
					padding: $pad 0
					text-align: justify
					h3, p
						padding: 5px
						margin: 0
					video
						margin-bottom: 5px
						display: none
				.front 
					background-color: #fff
				.back 
					background-color: #BDBDBD
					transform: rotateY(180deg)
				&:hover .front 
					transform: rotateY(180deg)
				&:hover .back 
					transform: rotateY(360deg)
		.footer
			flex: 0 0 auto
			padding: 1vh $pad 1vh $pad
			width: 100%
			.footer-text
				padding: 0
				display: flex
				flex-direction: column
				.footer-row_one
					display: flex
					margin-bottom: 1vh
					.ico
						margin-right: 1.5vw
						transition: all .5s ease
				.footer-row_two
					display: flex
					opacity: .2
					a
						text-decoration: none
						color: #fff
						border-bottom: 0.5px dotted #fff
					p
						font-size: 10px
						line-height: 0.5
						padding: 3px 7px 3px 0
						border-right: 1px solid #fff
						margin-right: 1.4vw
						&:last-child
							border-right: none
@import 'spaceship'
@import "media"

